html,body{
	height:100%;
	width:100%;
}
header{
}
footer{
}
#nav-bar{
	padding: 0;
	margin: 0;
}
label{
	font-size: 18px;
}
#navbarSupportedContent a:hover {
	border-bottom: 4px solid white;
}