html, body {
}

/* Nav bar */
.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	margin-top: 0px;
	background-color: #ffffff;
	color: #586069;
}

.dropdown-menu a {
	text-decoration: none;
	background-color: #ffffff;
	color: #586069;
}

.dropdown-menu a:hover {
	text-decoration: none;
	color: #9daf4e;
}

#wrenchPic {
	height: 20px;
	width: 20px;
}

.navbar{
	/*padding: 0;
	margin: 0;*/
	/*height: 60px;*/
}

#navbarSupportedContent a:hover {
	border-bottom: 2px solid white;
	color: white;
	padding-bottom: 2px;
}
/* END of Nav bar CSS */

label{
	font-size: 18px;
}

/* Add background color to footer */
.hmm-footer {
	font-size: 12px;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
}

.hmm-second-footer {
	font-size: 12px;
	text-align: center;
}

.hmm-copyright a{
	color: #88af01;
	text-decoration: none;
}

.hmm-copyright a:hover {
	color: #c2ff98;
}

.hmm-links {
	text-decoration: none;
	color: #88af01;
}

.hmm-links:hover {
	text-decoration: none;
	color: #c2ff98;
}

/*change color of the asterisk */
.reqAsk {
	color: red;
}

.errorText {
	color: red;
}

.stand-bttn-size {
	height: 30px;
	width: 80px;
}

.double-bttn-size {
	height: 30px;
	width: 100px;
}



/*Begin upload image css*/

.imgPreview{
	margin: 15px;
}

/*END upload image css*/

/*Create task form*/
#taskForm {
	display: none;
	border-style: solid;
	margin: 10px 10px 10px 10px;
}

/**
Start of calendar style
 */
/*Calendar Top Nav*/
div#calendar{
	margin: 0 auto;
	padding: 0;
	width: 602px;
	font-family: 'Source Sans Pro', sans-serif;
}

div#calendar div.box{
	position:relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #292b2c;
}

div#calendar div.header{
	line-height: 40px;
	vertical-align: middle;
	position: absolute;
	left: 11px;
	top: 0;
	width: 582px;
	height: 40px;
	text-align: center;
}

div#calendar div.header a.prev,div#calendar div.header a.next{
	position: absolute;
	top: 0;
	height: 17px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
}

div#calendar div.header span.title{
	color: #ffffff;
	font-size: 18px;
}


div#calendar div.header a.prev{
	left: 0;
}

div#calendar div.header a.next{
	right: 0;
}


/*Calendar Content Cells*/
div#calendar div.box-content{
	border: 1px solid #ffffff ;
	border-top: none;
}

div#calendar ul.label{
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	margin-left: 5px;
}

div#calendar ul.label li{
	margin: 0;
	padding: 0;
	margin-right: 5px;
	float: left;
	list-style-type: none;
	width: 80px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	color: #000000;
	font-size: 15px;
	background-color: transparent;
}


div#calendar ul.dates{
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 5px;
	margin-bottom: 5px;
}

div#calendar ul.dates li{
	margin: 0;
	padding: 0;
	margin-right: 5px;
	margin-top: 5px;
	line-height: 20px;
	vertical-align: top;
	float: left;
	list-style-type: none;
	width: 80px;
	height: 80px;
	font-size: 12px;
	background-color: bisque;
	color: #000000;
	text-align: left;
}

:focus{
	outline: none;
}

div.clear{
	clear: both;
}
/**
End of calendar style
 */


 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* End of displaying image */