#allows to call pages
Options -MultiViews

#
RewriteEngine On

Options -Indexes

#sets the base link
RewriteBase /home_maintenance_manager/public

#
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#replaces that link
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]